.type_button{
position: relative;
top: 70%;
transform: translateY(700%);
display: flex;
align-items: center;
justify-content: space-evenly;


}


.bun_images{

    transform: translateY(50%) translateX(-1%) ;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
    
    }