{%extends "layout.html" %}

{% block body %}

<table class=" table table-striped table-bordered table-sm ml-2">
  
      <thead>
        <tr>
          <th  scope="col">image</th>
          <th  scope="col">commentaire</th>
          
        </tr> 
      </thead>
        <tbody>
          
            {% for name in image_names %}
            <tr>
                  <td>
                    <img height=15% width=12%  class="img-fluid" alt="Responsive image" loading="eager" src="{{ url_for('static', filename='imageTesting/' + name) }} " >
                    {{name.split("@")[1]}}
                  </td>
                  <td>{{name.split("@")[0]}}</td>
                <td><button class="btn btn-primary"><a href="/Validate/{{name}}">Validate</a></button></td>
                  <td><button class="btn btn-warning"><a href="/Delete/{{name}}">Delete</a></button></td>
            </tr>
            
            {%endfor%}
       
        </tbody>
   
   

</table>
<button class="btn btn-success"><a href="/StartTraining" style="text-decoration: none;">Training</a></button>


{% endblock %}