{%extends "layout.html" %}

{% block body %}
<div class="row"> 
  <div class="col-0"></div>
  <div class="col center">
    <table class=" table table-striped table-bordered table-sm mt-5 ">
  
      <thead>
        <tr>
          <th  scope="col">image</th>
          <th  scope="col">image name</th>
          <th  scope="col">Type</th>
          <th  scope="col">commentaire</th>
          
        </tr> 
      </thead>
        <tbody>
          
            {% for name in image_names %}
            <tr>
                  <td class="image_td " style="width:10%">
                    <img height=20% width=70%  class="img-fluid" alt="Responsive image" loading="eager" src="{{ url_for('static', filename='imageTesting/' + name) }} " >
                  </td>
                  <td>{{name.split("@")[2]}}</td>
                  <td>{{name.split("@")[1]}}</td>
                  <td>{{name.split("@")[0]}}</td>
                <td><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#{{name.split('@')[2][0:-4]+'1'}}">
                  Validate
                </button></td>
                  <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#{{name.split('@')[2][0:-4]+'0'}}">
                    Delete
                  </button></td>
                  <!-- Modal Delete-->
                   <div class="modal fade" id="{{name.split('@')[2][0:-4]+'0'}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">                   
                     <div class="modal-dialog modal-dialog-centered" role="document">
                       <div class="modal-content">
                         <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                           </button>
                         </div>
                         <div class="modal-body">
                           Are you sure to want to delete the image :  {{name.split("@")[2]}}
                         </div>
                         <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           <button class="btn btn-outline-danger"><a href="/Delete/{{name}}">Delete</a></button>
                         </div>
                       </div>
                     </div>
                   </div>
  
                   <!-- Modal Validate-->
                   <div class="modal fade" id="{{name.split('@')[2][0:-4]+'1'}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">                   
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle1">Validate</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure to want to Validate this image {{name.split('@')[2]}}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <a href="/Validate/{{name}}" class="btn btn-primary" role="button">Validate</a>
                        </div>
                      </div>
                    </div>
                  </div>
  
            </tr>
            
            {%endfor%}
       
        </tbody>
   
   
  
  </table>
  </div>
</div>
  
<div class="row">
  <div class="col-4 "></div>
  <div class="col-4 center">
    <a href="/StartTrainingRegular" role="button" class="btnRegister">Train Regular</a>
  </div>
</div>
  
<div class="row mt-3">
  <div class="col-4 "></div>
  <div class="col-4 center">
    <a href="/StartTrainingBM" role="button" class="btnRegister">Train BigMac</a>
  </div>
</div>
<div class="row mt-3">
  <div class="col-4 "></div>
  <div class="col-4 center">
    <a href="/StartTrainingRoyal" role="button" class="btnRegister">Train Royal</a>
  </div>
</div>


</div>

{% endblock %}