{%extends "layout.html" %}


{% block body %}
<main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#f2c94c"/> </svg>
          <div class="container">
            <div class="carousel-caption text-left">
              <img src="../static/assets/logo.png" class="ml-5"width="20%" height="20%" alt="">
              <h1>best Bun Quality Predicter</h1>
              <p>Collaborative tool based on artificial
                intelligence to evaluate bake quality 
                .</p>
              
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#f2c94c"/></svg>
          <div class="container">
            <div class="carousel-caption">
              <img src="../static/assets/home.png" class="ml-5"width="70%" height="50%" alt="">
              <h1>Best Way to get Best Prediction.</h1>
              <p>Take the picture of the bread on a white background
                the blank page and the bread must be inside the photo frame.</p>
              
            </div>
          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="../static/assets/ehtp.jpg" width="50%" alt="" class="mb-4">
         
          <p>
            Hassania School of Public Works - EHTP Casablanca - is one of the oldest engineering schools in Morocco, which since its creation in 1971 has always provided training for engineers in the various fields. This school has trained more than 4000 engineers since its creation.</p>
          <p><a class="profile-edit-btn" href="http://www.ehtp.ac.ma/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="../static/assets/Mbi1.jpg"  width="30%" alt="" class="mb-4">
          
          <p>
            Maroc Buns Industries (MBI), McDonald’s Maroc’s exclusive bread supplier, is now part of the club of Moroccan companies that have opted for the adoption of the NL 08.0.800 standard. It thus becomes the first Moroccan industrial bakery to be awarded the Halal label.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="../static/assets/logo.png" width="30%" height="30%" alt="" class="mb-4">
          
          <p>A responsive website Created By MBI in collabaration with two GIS engeineer students from EHTP based on artificial
            intelligence to evaluate bake quality .</p>
         
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
    
  
      <hr class="featurette-divider">
  
      
  
  
     
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2020-2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </main>


{% endblock %}