{%extends "layout.html" %}
{% block body %}
    <h2 class="mx-auto text-center mt-3">Choose your Bun</h2>
    <div class="container marketing mt-3 ">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4 card" >
          <svg class="bd-placeholder-img rounded-circle" width="50" height="70" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><div class="card-up"></div> <img class="bun_image" src="../static/assets/Regular2.png" alt="" width="30%"  onclick="relocate('regular')"></svg>
          <div class="card-body">
          <h2 class="card-header ">Regular</h2>
          <br>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>    
          <p><a class="btn btn-warning" href="/regular" role="button" >check Bun &raquo;</a></p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 card ">
          <svg class="bd-placeholder-img rounded-circle" width="50" height="70" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><div class="card-up"></div> <img class="bun_image" style="margin-bottom:15px" src="../static/assets/bigMac.png" alt="" width="30%"  onclick="relocate('BM')"></svg>
          <div class="card-body">
          <h2 class="card-header ">Big Mac</h2>
          <br>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-warning" href="/BM" role="button">check Bun &raquo;</a></p></div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 card">
          <svg class="bd-placeholder-img rounded-circle" width="50" height="70" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="True" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><div class="card-up"></div> <img class="bun_image" src="../static/assets/royal.png" alt="" width="30%"  onclick="relocate('royal')"></svg>
          <div class="card-body">
          <h2 class="card-header ">Royal</h2>
          <br>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-warning" href="/royal" role="button">check Bun &raquo;</a></p></div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

  <br>
  <br>

  




  <script>
    function relocate(loc)
    {
       location.href = `./${loc}`;
    } 
  </script>


{% endblock %}













