{%extends "layout.html" %}
{% block body %}
<div class="row mt-2">
  <div class="col-md-7">
    <h1>Bake Prediction ?</h1>
	<h2>Upload an image</h2>
    <br>
    <form action="" method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>

    <h2>Results</h2>
    <br>
    <table class="table" id="results-table">
        <tr>
          <th>Image</th>
          <th>Prediction</th>
        </tr>
		<tr>
          {% block content %}{% endblock %}
        </tr>
    </table>
  </div>
 
</div>
 
{% endblock %}













