{%extends "layout.html" %}



{% block body %}
<form action="" method=post enctype=multipart/form-data>
  <div class="form-group mt-4">
    <input type=file name=file>
    </div>
    <div class="form-group">
    <select class="browser-default custom-select ml-2" style="width:auto" name="Commentaire">
      <option selected>Commentaire</option>
      <option value="over">over</option>
      <option value="target">target</option>
      <option value="under">under</option>
    </div>
    </select>
    <select class="browser-default custom-select ml-2" style="width:auto" name="type">
      <option selected>Type</option>
      <option value="regular">Regular</option>
      <option value="BM">Big Mac</option>
      <option value="royal">Royal</option>
    </div>
    </select>
    <input class="btn btn-primary mt-2" type=submit value=Upload>
  </form>

{% endblock %}
